@font-face {
    font-family: 'myFont';
    src: url("../fonts/DK Lemon Yellow Sun.otf");
}

html{
    height:100%;
}

body {
    font-family: 'myFont';
    color: whitesmoke;
    background-color: #262626;
    font-size: X-large;
}

header {
    background-color: #1B1B1B;
    width: 100%;
    height: 13vh;

}

h1{
    margin: 2rem auto;
    font-size: xx-large;
    width: 50vw;
    border-bottom: 1px whitesmoke solid;
}

.nickname-panel {
    margin-top: 15%;
}

#nickname {
    width: 80%;
    font-size: xx-large;
    padding: 30px;
    border: 1px #FF9100 solid;
    background: none;
    color: whitesmoke;
}

#nickname:focus {}

.player-name {
    font-size: 6vh;
    display: inline;
}

#time {
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-size: 5vh;
}


fieldset {
    width: 85%;
    height: 60vh;
    margin: 0 auto 0;
    border: none;
}

.question-title {
    margin: 2vh auto 0 auto;
    font-size: xx-large;
    width: 50vw;
    border-bottom: 1px whitesmoke solid;
}

#addQuestion textarea, #addQuestion input[type="text"] {
    font-size: XX-large;
    width: 90%;
    margin: auto;
    color: #FF9100;
    word-wrap: break-word;
    padding-top: 10px;
    margin-bottom: 1rem;
}

.container {
    text-align: center;
}

.answer, .difficulty {
    color: whitesmoke;
    border: 1px solid #FF9100;
    display: table;
    width: 90%;
    height: 14vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: large;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    outline: none;
}

.difficulty{
    line-height: 14vh;
    width: 25%;
    display: inline-block;
}

.selectedAnswer {
    background-color: #FF9100;
    color: #262626;
}

.answer span {
    display: table-cell;
    vertical-align: middle;
}

#success,
#failure {
    height: 90vh;
    margin-top: 10vh;
}

.info-image {
    width: auto;
    height: 30vh;
}

.info-text {
    color: #FF9100;
}

.info-learn {
    margin-bottom: 5vh;
}

.info-next,
.info-learn,
.again {
    margin-top: 5vh;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

.again-button {
    margin: 4vh auto;
    display: block;
    width: 50%;
    height: auto;
}



#logo {
    width: 200px;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

#loadingGif {
    margin-top: 250px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#clickMee {
    margin-top: 10vh;
    width: 30vh;
    display: block;
    margin: auto;
}

.final-screen {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}

.score {
    font-size: 500%;
    margin: 0;
}

.next {
    margin: 4vh auto;
    display: block;
    width: 15%;
    height: auto;
}

.again {
    text-decoration: none;
    color: whitesmoke;
}

.hidden {
    display: none;
}

table tr:nth-child(even) {
    background-color: darkgray;
}

#home{
    margin: 0.6rem 0.2rem 0rem 1rem;
    fill: #ff9100;
}

#difficulty{
    margin: 1rem;
}

#difficulty a{
    font-size: 6vh;
    margin-bottom: 1vh;
}

#edit, #delete{
    width: 60%;
    height: auto;
    align-content: center;
}

#lblquestion,#lblrightanswer,#lblwronganswer,#lblwronganswer2,#lblwronganswer3{
    color: #ff9100;
    width: 90%;
    display: inline-block;
}

#lblcategorie,#lblchapter{
    color: #ff9100;
    display: inline;
    width: 40%;
    height: 50px;
}

#addQuestion > textarea{
    width: 90%;
    padding: 5px;
    margin: 0px auto;
}

#addQuestion > select{
    display: inline;
    width: 40%;
    height: 30px;
    border-radius: 20px;
}

#addQuestion > input[type="submit"]{
    width: 90%;
    height: 50px;
    margin: 0px auto;
    background-color: #ff9100;
    font-size: 2rem;
    color: #262626;
    border: 2px solid #262626;
    border-radius: 20px;
}

#headerInfo{
    text-align: center;
}

.errors{
    color: #ff0033;
}
#welcome{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: justify;
}

#chapters{
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}


li{
    margin-bottom: 1rem;
    list-style-type: circle;
}

#learnMore{
    text-decoration: none;
    color: #ff9100;
}